<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>侦听器</title>
</head>

<body>
    <div id="app">
        <p><input type="text" v-model='firstname'></p>
        <p><input type="text" v-model='lastname'></p>
        <p>
            <input type="text" v-model='fullname'>
        </p>
    </div>
    <script src="./js/vue.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                firstname: 'Jame',
                lastname: 'Green',
                fullname: 'Jame Green'
            },
            watch: {
                firstname: function(val) {
                    this.fullname = val + this.lastname
                },
                lastname: function(val) {
                    this.fullname = this.firstname + '   ' + val
                }
            }
        })
    </script>
</body>

</html>